$def with (content)
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=none">
<title>ROS.web</title>
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link href="https://fonts.loli.net/css?family=Titillium+Web" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
<script src="https://cdnjs.loli.net/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
*, body{font-family: 'Titillium Web', sans-serif; line-height: 1.3;}
.center {margin: 0;text-align: center;margin-top:50px;}
p{margin-bottom: 1rem;}
</style>
</head>
<body>
	<header class="center aligned">
		<h2>ROServer</h2>
		<br />
		<a href="/">主页</a> &middot; <a href="/list">上传记录</a>
	</header>
	<div class="ui divider"></div>
	<div class="ui container">
	$:content
	</div>
	<div class="ui divider"></div>
</body>
</html>
